* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121214;
    width: 100vw;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#content {
    max-width: 100%;
    flex: 2;
}

#imageContainer {
    max-width: 100%;
    min-width: 50%;
    height: 100vh;
    flex: 1;
}

#mainImage {
    height: 100vh;
    object-fit: cover;
    object-position: 70% 70%;
    width: 100%;
}


#logo {
    width: 24.3125rem;
    height: 5.875rem;
}

h2 {
    font-size: 1.5rem;
    color: #04D361;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

h3, p, #userForm label {
    font-size: 0.875rem;
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
}

h3, #userForm label {
    font-weight: 700;
}

#logo, #infoSection, #userForm {
    margin-top: 3.125rem;
    margin-left: 1.875rem;
}

h2, h3{
    margin-bottom: 0.5625rem;
}

#userForm {
    display: flex;
    flex-wrap: wrap;
    position: absolute;

}

#userForm label {
    color: #A8A8A8;
    width: 100%;
}

#sideInputBox, #userForm input, #userForm button {
    height: 3rem;
    border: none;
    margin-top: 1.0625rem;
}

#sideInputBox {
    background-color: #04D361;
    width: 0.3125rem;
}

#userForm input {
    padding: 0.625rem;
    font-size: 0.875rem;
    font-family: 'Spartan', sans-serif;
    width: 55vw;
 }

 #userForm input:focus {
    outline: none;
 }

 #userForm button {
    min-width: 3rem;
    background-color: #8257e5;
 }

 #userForm button:hover {
    cursor: pointer;
 }

 #readmoreContainer {
     margin: 11.5rem 1.875rem 3.125rem 1.875rem;
 }

 #readmoreContainer a {
     text-decoration: none;
 }


#readmoreContainer p {
    font-family: 'Spartan', sans-serif;
    font-size: 0.875rem;
    display: inline;
    
    font-weight: 700;
    text-decoration: none;

}

#sendIcon {
    color: #FFFFFF;
    position: relative;
    margin: 0 auto;
    height: 1.5rem;
    width: 1.5rem;
}

#arrowIcon {
    fill: transparent;
    position: relative;
    vertical-align: middle;
    margin-left: 0.3125rem;
    height: 1.5rem;
    width: 1.5rem;
}

#readmoreContainer a > p, #arrowIcon {
    color: #8257e5;
}

#readmoreContainer a:hover > p, #readmoreContainer a:hover #arrowIcon {
    color: #513495;
}

#userForm button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.24);
}

 
